@model IEnumerable<PWA_Proyecto2.Models.Aviones>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<a href="@Url.Action("Create", "Aviones")" class="btn btn-primary">Ingresar Aviones</a>

<table class="table">
    <tr>
        <th>
            Marca
        </th>
        <th>
            Modelo
        </th>
        <th>
            Numero de Serie
        </th>
        <th>
            Nombre de Fantasia
        </th>
        <th>
            Dimensiones
        </th>
        <th>
            Distancia maxima
        </th>
        <th>
            Fecha de ingreso
        </th>
        <th>
            Tecnico
        </th>
        <th>
            Retirado
        </th>
        <th>
            Existencia
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MarcaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModeloId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroSerie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreFantasia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dimensiones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistanciaMaximaCombustible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TecnicoIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Retirado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadExistencia)
        </td>
    </tr>
    }

</table>



<h3>Retiros</h3>

<a href="@Url.Action("Retiro", "Aviones")" class="btn btn-primary">Retirar Aviones</a>

<table class="table">
    <tr>
        <th>RetiroId</th>
        <th>NumeroSerie</th>
        <th>TecnicoRetiro</th>
        <th>FechaRetiro</th>
        <th>MotivoRetiro</th>
    </tr>
    @foreach (var retiro in ViewBag.Retiros)
    {
        <tr>
            <td>@retiro.RetiroId</td>
            <td>@retiro.NumeroSerie</td>
            <td>@retiro.TecnicoRetiro</td>
            <td>@retiro.FechaRetiro</td>
            <td>@retiro.MotivoRetiro</td>
        </tr>
    }
</table>